distro
func_timeout
requests
tiktoken
flask
openai
json_repair
pillow
libtmux
pylint
flask_socketio
holytools @ git+https://git@github.com/Somerandomguy10111/holytools.git
pyscrape @ git+https://git@github.com/Somerandomguy10111/pyscrape.git
